.auth-form {
    padding: 16px;
}

.css-1xgokfv {
    margin: 0px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 16px 24px;
    flex: 0 0 auto;
}